<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1 + 2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aperiam dolores vel commodi ex porro fuga corrupti obcaecati itaque aspernatur blanditiis tenetur laborum nam, quisquam facere perspiciatis. Placeat, repellat repellendus?
    Numquam repellat quas nemo neque molestiae sed porro! Fuga eum reiciendis blanditiis ratione aperiam distinctio? Et enim vel eveniet consequuntur, vitae officiis numquam suscipit, labore nostrum animi laboriosam quibusdam quia?
    Velit quaerat unde ducimus assumenda magnam? Quo, at voluptas! Cupiditate, necessitatibus! Voluptatem inventore, sint magnam explicabo veritatis ad cumque incidunt debitis necessitatibus, neque culpa, non rerum quod aspernatur obcaecati! Temporibus!</p>
    <button>click me</button>
</body>
</html>